# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Audio output and temp files
output/*.wav
output/*.mp3
voices/*_norm.wav

# Models
# Models are downloaded to a user directory usually, but if kept in project:
models/

# OS
.DS_Store
Thumbs.db
